.container {
	position: fixed;
	box-sizing: border-box;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background-color: #fff;
	border-bottom: 1px solid #e3e2e2;
	box-shadow: 0 3px 7px 0 rgba(110, 112, 114, 0.21);
}